:root {
    --text-color: black;
    --link-color: black;
    --bg-color: #ffffff;
    /*--highlight-color: black;*/
}

@media ( prefers-color-scheme: dark ) {
    :root {
            --text-color: lightgrey;
            --link-color: darkgrey;
            --bg-color: #202020;
            /*--highlight-color: black;*/
    }
}

body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--text-color);
    text-align: center;
}

div {
    color: var(--text-color);
    font-size:22px;
}

a {
    /*color: #b1b1b1;*/
    color: var(--link-color);
}

.row_flex {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.column_flex {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.button {
  background-color: #0000ff;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal {
    display: none;
    z-index: 98;
    cursor: zoom-out;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal_content {
    z-index: 99;
    cursor: zoom-out;
    position: fixed;
    max-width: 95vw;
    max-height: 95vh;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%; 
}

/*
.light {
    --text-color: black;
    --link-color: blue;
    --bg-color: #ffffff;
    --highlight-color: black;
}

.dark {
    --text-color: white;
    --link-color: darkgray;
    --bg-color: #202020;
    --highlight-color: black;
}
*/

.link {
    color: var(--link-color);
    font-size: 16px;
}

#timetable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    cursor: zoom-in;
}

#checkbox {
    font-size: 16px;
    text-align: center;
}

