{
"schedule":[
    {
        "day":0,
        "events":[
            
        ]
    },
    {
        "day":1,
        "events":[
            {
                "name":"Meeting1",
                "startTime":"100000",
                "endTime":"110000"
            }
        ]
    },
    {
        "day":2,
        "events":[
            {
                "name":"Meeting2",
                "startTime":"110000",
                "endTime":"123000"
            }
        ]
    },
    {
        "day":3,
        "events":[

        ]
    },
    {
        "day":4,
        "events":[
            {
                "name":"Meeting3",
                "startTime":"100000",
                "endTime":"110000"
            },
            {
                "name":"Meeting4",
                "startTime":"140000",
                "endTime":"150000"
            }
        ]
    },
    {
        "day":5,
        "events":[
            
        ]
    },
    {
        "day":6,
        "events":[
            {
                "name":"Meeting2",
                "startTime":"135000",
                "endTime": "145000"
            }
        ]
    }
],
"httplinks": {
    "Meeting1":"[Your meeting link here]",
    "Meeting2":"[Your meeting link here]",
    "Meeting3":"[Your meeting link here]",
    "Meeting4":"https://zoom.us/j/5000000000?pwd=00000"
}
}
